# All Cases

In [43]:
import pandas as pd

#make a data frame from Transactions - All Cases Report.csv
AllCases = pd.read_csv('../DataBase/Transactions - All Cases Report.csv')

In [44]:
AllCases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   First Name                413 non-null    object
 1   Last Name                 413 non-null    object
 2   Service Type              413 non-null    object
 3   Location Name             413 non-null    object
 4   Physcian Name             413 non-null    object
 5   Date of Service           413 non-null    object
 6   Date Billed               413 non-null    object
 7   Full Service Description  413 non-null    object
 8   Law Firm                  413 non-null    object
 9   Attorney                  413 non-null    object
 10  Case Rep                  404 non-null    object
 11  Item Charge               413 non-null    int64
 12  Pmt Date                  46 non-null     object
 13  Paid Amount               46 non-null     float64
 14  Collection %              413 non-null    object
 15  Lien Reduction %          413 non-null    object
 16  Discount Date             56 non-null     object
 17  Discount Amount           69 non-null     float64
dtypes: float64(2), int64(1), object(15)
memory usage: 58.2+ KB

In [45]:
AllCases['Case Rep'] = AllCases['Case Rep'].fillna('unknown')
AllCases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   First Name                413 non-null    object
 1   Last Name                 413 non-null    object
 2   Service Type              413 non-null    object
 3   Location Name             413 non-null    object
 4   Physcian Name             413 non-null    object
 5   Date of Service           413 non-null    object
 6   Date Billed               413 non-null    object
 7   Full Service Description  413 non-null    object
 8   Law Firm                  413 non-null    object
 9   Attorney                  413 non-null    object
 10  Case Rep                  413 non-null    object
 11  Item Charge               413 non-null    int64
 12  Pmt Date                  46 non-null     object
 13  Paid Amount               46 non-null     float64
 14  Collection %              413 non-null    object
 15  Lien Reduction %          413 non-null    object
 16  Discount Date             56 non-null     object
 17  Discount Amount           69 non-null     float64
dtypes: float64(2), int64(1), object(15)
memory usage: 58.2+ KB

In [46]:
# fill missings in "Paid Amount" with 0
AllCases['Paid Amount'] = AllCases['Paid Amount'].fillna(0)
AllCases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   First Name                413 non-null    object
 1   Last Name                 413 non-null    object
 2   Service Type              413 non-null    object
 3   Location Name             413 non-null    object
 4   Physcian Name             413 non-null    object
 5   Date of Service           413 non-null    object
 6   Date Billed               413 non-null    object
 7   Full Service Description  413 non-null    object
 8   Law Firm                  413 non-null    object
 9   Attorney                  413 non-null    object
 10  Case Rep                  413 non-null    object
 11  Item Charge               413 non-null    int64
 12  Pmt Date                  46 non-null     object
 13  Paid Amount               413 non-null    float64
 14  Collection %              413 non-null    object
 15  Lien Reduction %          413 non-null    object
 16  Discount Date             56 non-null     object
 17  Discount Amount           69 non-null     float64
dtypes: float64(2), int64(1), object(15)
memory usage: 58.2+ KB

In [47]:
#fill discount amount missings with 0
AllCases['Discount Amount'] = AllCases['Discount Amount'].fillna(0)
AllCases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   First Name                413 non-null    object
 1   Last Name                 413 non-null    object
 2   Service Type              413 non-null    object
 3   Location Name             413 non-null    object
 4   Physcian Name             413 non-null    object
 5   Date of Service           413 non-null    object
 6   Date Billed               413 non-null    object
 7   Full Service Description  413 non-null    object
 8   Law Firm                  413 non-null    object
 9   Attorney                  413 non-null    object
 10  Case Rep                  413 non-null    object
 11  Item Charge               413 non-null    int64
 12  Pmt Date                  46 non-null     object
 13  Paid Amount               413 non-null    float64
 14  Collection %              413 non-null    object
 15  Lien Reduction %          413 non-null    object
 16  Discount Date             56 non-null     object
 17  Discount Amount           413 non-null    float64
dtypes: float64(2), int64(1), object(15)
memory usage: 58.2+ KB

In [48]:
#make date of service, date billed, payment date, settlement date, discount date columns datetime type and if empty put NaT
date_columns = ['Date of Service', 'Date Billed', 'Pmt Date', 'Discount Date']
for col in date_columns:
    AllCases[col] = pd.to_datetime(AllCases[col], errors='coerce').dt.strftime("%m-%d-%Y")
AllCases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   First Name                413 non-null    object
 1   Last Name                 413 non-null    object
 2   Service Type              413 non-null    object
 3   Location Name             413 non-null    object
 4   Physcian Name             413 non-null    object
 5   Date of Service           413 non-null    object
 6   Date Billed               413 non-null    object
 7   Full Service Description  413 non-null    object
 8   Law Firm                  413 non-null    object
 9   Attorney                  413 non-null    object
 10  Case Rep                  413 non-null    object
 11  Item Charge               413 non-null    int64
 12  Pmt Date                  46 non-null     object
 13  Paid Amount               413 non-null    float64
 14  Collection %              413 non-null    object
 15  Lien Reduction %          413 non-null    object
 16  Discount Date             56 non-null     object
 17  Discount Amount           413 non-null    float64
dtypes: float64(2), int64(1), object(15)
memory usage: 58.2+ KB

In [49]:
def clean_percentage(value):
    # Remove $ sign, commas, and % symbol, then convert to float
    return float(value.replace("$", "").replace(",", "").replace("%", "").strip())
    #apply function to Collection and Lien columns
AllCases['Collection %'] = AllCases['Collection %'].apply(clean_percentage)
AllCases['Lien Reduction %'] = AllCases['Lien Reduction %'].apply(clean_percentage)
AllCases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   First Name                413 non-null    object
 1   Last Name                 413 non-null    object
 2   Service Type              413 non-null    object
 3   Location Name             413 non-null    object
 4   Physcian Name             413 non-null    object
 5   Date of Service           413 non-null    object
 6   Date Billed               413 non-null    object
 7   Full Service Description  413 non-null    object
 8   Law Firm                  413 non-null    object
 9   Attorney                  413 non-null    object
 10  Case Rep                  413 non-null    object
 11  Item Charge               413 non-null    int64
 12  Pmt Date                  46 non-null     object
 13  Paid Amount               413 non-null    float64
 14  Collection %              413 non-null    float64
 15  Lien Reduction %          413 non-null    float64
 16  Discount Date             56 non-null     object
 17  Discount Amount           413 non-null    float64
dtypes: float64(4), int64(1), object(13)
memory usage: 58.2+ KB

In [50]:
AllCases.head()

,First Name,Last Name,Service Type,Location Name,Physcian Name,Date of Service,Date Billed,Full Service Description,Law Firm,Attorney,Case Rep,Item Charge,Pmt Date,Paid Amount,Collection %,Lien Reduction %,Discount Date,Discount Amount
0,Sharaf,Ali,Professional,SCOPES HEALTH INC.,"Philip Khoury, DO",04-12-2024,04-18-2024,Initial Consultation,Law Office of Young and Nichols,"Michael Young, Esq.",Janet Spindle,1725,08-06-2024,1100.00,63.77,35.94,08-06-2024,620.00
1,Melaynie,Armas,Professional,SCOPES HEALTH INC.,"Philip Khoury, DO",03-29-2024,04-09-2024,Initial Consultation,"Chain, Cohn, Clark","Doug Fitz-Simmons, Esq.",Grace Jimenez,1725,07-30-2025,500.00,28.99,71.01,04-29-2025,1225.00
2,Ignacio,Diaz,Professional,SCOPES HEALTH INC.,"Philip Khoury, DO",06-21-2024,06-27-2024,Initial Consultation,"Sweet Lawyers, LLP","Mark Sweet, Esq.",Elsie Gonzalez,1725,06-30-2025,750.00,43.48,56.52,NaN,975.00
3,Mitra,Atabaki,Professional,SCOPES HEALTH INC.,"Philip Khoury, DO",07-26-2024,07-31-2024,Initial Consultation,California Personal Injury Attorneys,"Sean Bina, Esq.",Jennifer Garcia,1725,NaN,0.00,0.00,0.00,NaN,0.00
4,Ernesto,Borja,Professional,SCOPES HEALTH INC.,"Philip Khoury, DO",11-22-2024,11-26-2024,Initial Consultation,Karns and Karns,"Edgar Vera, Esq.",Keith Hernandez,1725,07-30-2025,798.61,46.30,53.70,03-11-2025,926.39

In [51]:
#fill missings in "Discount Date" and "Pmt Date" with NaT
AllCases['Discount Date'] = AllCases['Discount Date'].fillna(pd.NaT)
AllCases['Pmt Date'] = AllCases['Pmt Date'].fillna(pd.NaT)
AllCases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   First Name                413 non-null    object
 1   Last Name                 413 non-null    object
 2   Service Type              413 non-null    object
 3   Location Name             413 non-null    object
 4   Physcian Name             413 non-null    object
 5   Date of Service           413 non-null    object
 6   Date Billed               413 non-null    object
 7   Full Service Description  413 non-null    object
 8   Law Firm                  413 non-null    object
 9   Attorney                  413 non-null    object
 10  Case Rep                  413 non-null    object
 11  Item Charge               413 non-null    int64
 12  Pmt Date                  46 non-null     object
 13  Paid Amount               413 non-null    float64
 14  Collection %              413 non-null    float64
 15  Lien Reduction %          413 non-null    float64
 16  Discount Date             56 non-null     object
 17  Discount Amount           413 non-null    float64
dtypes: float64(4), int64(1), object(13)
memory usage: 58.2+ KB

In [52]:
AllCases.head()

,First Name,Last Name,Service Type,Location Name,Physcian Name,Date of Service,Date Billed,Full Service Description,Law Firm,Attorney,Case Rep,Item Charge,Pmt Date,Paid Amount,Collection %,Lien Reduction %,Discount Date,Discount Amount
0,Sharaf,Ali,Professional,SCOPES HEALTH INC.,"Philip Khoury, DO",04-12-2024,04-18-2024,Initial Consultation,Law Office of Young and Nichols,"Michael Young, Esq.",Janet Spindle,1725,08-06-2024,1100.00,63.77,35.94,08-06-2024,620.00
1,Melaynie,Armas,Professional,SCOPES HEALTH INC.,"Philip Khoury, DO",03-29-2024,04-09-2024,Initial Consultation,"Chain, Cohn, Clark","Doug Fitz-Simmons, Esq.",Grace Jimenez,1725,07-30-2025,500.00,28.99,71.01,04-29-2025,1225.00
2,Ignacio,Diaz,Professional,SCOPES HEALTH INC.,"Philip Khoury, DO",06-21-2024,06-27-2024,Initial Consultation,"Sweet Lawyers, LLP","Mark Sweet, Esq.",Elsie Gonzalez,1725,06-30-2025,750.00,43.48,56.52,NaT,975.00
3,Mitra,Atabaki,Professional,SCOPES HEALTH INC.,"Philip Khoury, DO",07-26-2024,07-31-2024,Initial Consultation,California Personal Injury Attorneys,"Sean Bina, Esq.",Jennifer Garcia,1725,NaT,0.00,0.00,0.00,NaT,0.00
4,Ernesto,Borja,Professional,SCOPES HEALTH INC.,"Philip Khoury, DO",11-22-2024,11-26-2024,Initial Consultation,Karns and Karns,"Edgar Vera, Esq.",Keith Hernandez,1725,07-30-2025,798.61,46.30,53.70,03-11-2025,926.39

# Open Cases

In [53]:
# make a data frame from  Transactions - Open Case AR Report.csv
OpenCases = pd.read_csv('../DataBase/Transactions - Open Case AR Report.csv')
OpenCases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 427 entries, 0 to 426
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   First Name                427 non-null    object
 1   Last Name                 427 non-null    object
 2   Service Type              427 non-null    object
 3   Physcian Name             427 non-null    object
 4   Date of Service           427 non-null    object
 5   Location Name             427 non-null    object
 6   Date Billed               427 non-null    object
 7   Service Provided          427 non-null    object
 8   Full Service Description  427 non-null    object
 9   Law Firm                  427 non-null    object
 10  Attorney                  427 non-null    object
 11  Case Rep                  416 non-null    object
 12  Item Charge               427 non-null    int64
 13  Pmt Date                  0 non-null      float64
 14  Paid Amount               0 non-null      float64
 15  Collection %              367 non-null    object
 16  Lien Reduction %          367 non-null    object
 17  Settlement Accepted       24 non-null     float64
 18  Discount Date             21 non-null     object
 19  Discount Amount           23 non-null     float64
dtypes: float64(4), int64(1), object(15)
memory usage: 66.8+ KB

In [54]:
OpenCases[OpenCases['First Name'] == 'Veronica']

,First Name,Last Name,Service Type,Physcian Name,Date of Service,Location Name,Date Billed,Service Provided,Full Service Description,Law Firm,Attorney,Case Rep,Item Charge,Pmt Date,Paid Amount,Collection %,Lien Reduction %,Settlement Accepted,Discount Date,Discount Amount
154,Veronica,Marquez,Professional,"Philip Khoury, DO",2/28/2025,SCOPES HEALTH INC.,3/3/2025,Initial Consultation,Initial Consultation,West Coast Trial Lawyers,"Liana Khachatryan, Esq.",Kristie Marquez,1725,NaN,NaN,"$0.00, %","$0.00, %",NaN,NaN,NaN
264,Veronica,Marquez,Facility,"Philip Khoury, DO",6/7/2025,"UNIVERSITY SURGICAL INSTITUTE, LLC",6/10/2025,Injection Procedure,LESI Injection Procedure,West Coast Trial Lawyers,"Liana Khachatryan, Esq.",Kristie Marquez,10950,NaN,NaN,"$0.00, %","$0.00, %",NaN,NaN,NaN
265,Veronica,Marquez,Anesthesia,"Preet Patel, MD",6/7/2025,ANESTHESIOLOGY & PERIOPERATIVE MEDICINE SPECIA...,6/10/2025,Anesthesia Services,Monitered Anesthesia Care,West Coast Trial Lawyers,"Liana Khachatryan, Esq.",Kristie Marquez,1890,NaN,NaN,"$0.00, %","$0.00, %",NaN,NaN,NaN
271,Veronica,Marquez,Professional,"Philip Khoury, DO",6/7/2025,SCOPES HEALTH INC.,6/10/2025,Injection Procedure,LESI Injection Procedure,West Coast Trial Lawyers,"Liana Khachatryan, Esq.",Kristie Marquez,4950,NaN,NaN,"$0.00, %","$0.00, %",NaN,NaN,NaN
312,Veronica,Marquez,Professional,"Philip Khoury, DO",7/11/2025,SCOPES HEALTH INC.,7/14/2025,Follow up,Follow Up Consultation,West Coast Trial Lawyers,"Liana Khachatryan, Esq.",Kristie Marquez,975,NaN,NaN,"$0.00, %","$0.00, %",NaN,NaN,NaN
354,Veronica,Marquez,Professional,"Philip Khoury, DO",8/8/2025,SCOPES HEALTH INC.,8/11/2025,Follow up,Follow Up Consultation,West Coast Trial Lawyers,"Liana Khachatryan, Esq.",Kristie Marquez,975,NaN,NaN,"$0.00, %","$0.00, %",NaN,NaN,NaN
381,Veronica,Marquez,Professional,"Philip Khoury, DO",8/23/2025,SCOPES HEALTH INC.,10/3/2025,CESI Injection Procedure,interlaminar epidural injection in the cervica...,West Coast Trial Lawyers,"Liana Khachatryan, Esq.",Kristie Marquez,4950,NaN,NaN,NaN,NaN,NaN,NaN,NaN
404,Veronica,Marquez,Anesthesia,"Preet Patel, MD",8/23/2025,ANESTHESIOLOGY & PERIOPERATIVE MEDICINE SPECIA...,10/3/2025,Anesthesia Services,Monitered Anesthesia Care,West Coast Trial Lawyers,"Liana Khachatryan, Esq.",Kristie Marquez,2520,NaN,NaN,NaN,NaN,NaN,NaN,NaN
412,Veronica,Marquez,Professional,"Philip Khoury, DO",9/5/2025,SCOPES HEALTH INC.,10/3/2025,Follow Up Consultation,Follow Up Consultation,West Coast Trial Lawyers,"Liana Khachatryan, Esq.",Kristie Marquez,975,NaN,NaN,NaN,NaN,NaN,NaN,NaN
424,Veronica,Marquez,Facility,"Philip Khoury, DO",8/23/2025,"UNIVERSITY SURGICAL INSTITUTE, LLC",10/3/2025,CESI Injection Procedure,interlaminar epidural injection in the cervica...,West Coast Trial Lawyers,"Liana Khachatryan, Esq.",Kristie Marquez,10950,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
print(OpenCases['Pmt Date'].values)

[nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan]

In [56]:
# make date of service, date billed and Pmt Date and Discount Date columns datetime type and if empty put NaT
date_columns = ['Date of Service', 'Date Billed', 'Discount Date']
for col in date_columns:
    OpenCases[col] = pd.to_datetime(OpenCases[col], errors='coerce').dt.strftime("%m-%d-%Y")
OpenCases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 427 entries, 0 to 426
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   First Name                427 non-null    object
 1   Last Name                 427 non-null    object
 2   Service Type              427 non-null    object
 3   Physcian Name             427 non-null    object
 4   Date of Service           427 non-null    object
 5   Location Name             427 non-null    object
 6   Date Billed               427 non-null    object
 7   Service Provided          427 non-null    object
 8   Full Service Description  427 non-null    object
 9   Law Firm                  427 non-null    object
 10  Attorney                  427 non-null    object
 11  Case Rep                  416 non-null    object
 12  Item Charge               427 non-null    int64
 13  Pmt Date                  0 non-null      float64
 14  Paid Amount               0 non-null      float64
 15  Collection %              367 non-null    object
 16  Lien Reduction %          367 non-null    object
 17  Settlement Accepted       24 non-null     float64
 18  Discount Date             21 non-null     object
 19  Discount Amount           23 non-null     float64
dtypes: float64(4), int64(1), object(15)
memory usage: 66.8+ KB

In [57]:
OpenCases.head()

,First Name,Last Name,Service Type,Physcian Name,Date of Service,Location Name,Date Billed,Service Provided,Full Service Description,Law Firm,Attorney,Case Rep,Item Charge,Pmt Date,Paid Amount,Collection %,Lien Reduction %,Settlement Accepted,Discount Date,Discount Amount
0,Katrina,Costa,Professional,"Philip Khoury, DO",02-09-2024,SCOPES HEALTH INC.,04-23-2024,Initial Consultation,Initial Consultation,Law Office of Young and Nichols,"Michael Young, Esq.",Janet Spindle,1725,NaN,NaN,"$0.00, %","$0.00, %",NaN,NaN,NaN
1,Denise,Norris,Professional,"Philip Khoury, DO",02-16-2024,SCOPES HEALTH INC.,02-21-2024,Initial Consultation,Initial Consultation,Drake Legal Group,Benjamin Drake,KIAH,1725,NaN,NaN,"$0.00, %","$0.00, %",NaN,NaN,NaN
2,Katrina,Costa,Professional,"Philip Khoury, DO",02-24-2024,SCOPES HEALTH INC.,04-30-2024,Injection Procedure,CESI Injection Procedure,Law Office of Young and Nichols,"Michael Young, Esq.",Janet Spindle,6640,NaN,NaN,"$0.00, %","$0.00, %",NaN,NaN,NaN
3,Katrina,Costa,Professional,"Philip Khoury, DO",03-15-2024,SCOPES HEALTH INC.,05-14-2024,Follow up,Follow Up Consultation,Law Office of Young and Nichols,"Michael Young, Esq.",Janet Spindle,975,NaN,NaN,"$0.00, %","$0.00, %",NaN,NaN,NaN
4,Ismael,Patino,Professional,"Philip Khoury, DO",04-05-2024,SCOPES HEALTH INC.,04-10-2024,Initial Consultation,Initial Consultation,KAL Law,"Moises Aguilar, Esq.",Jose Duarte,1725,NaN,NaN,"$0.00, %","$0.00, %",NaN,NaN,NaN

In [58]:
def clean_percentage(value):
    # Remove $ sign, commas, and % symbol, then convert to float
    try:
        # If it's already a number, return it
        if isinstance(value, (int, float)):
            return float(value)
        # If it's a string, clean it and convert
        return float(str(value).replace("$", "").replace(",", "").replace("%", "").strip())
    except (ValueError, AttributeError):
        # Return None for any values that can't be converted
        return None

#apply function to Collection and Lien columns
OpenCases['Collection %'] = OpenCases['Collection %'].apply(clean_percentage)
OpenCases['Lien Reduction %'] = OpenCases['Lien Reduction %'].apply(clean_percentage)
OpenCases.head()

,First Name,Last Name,Service Type,Physcian Name,Date of Service,Location Name,Date Billed,Service Provided,Full Service Description,Law Firm,Attorney,Case Rep,Item Charge,Pmt Date,Paid Amount,Collection %,Lien Reduction %,Settlement Accepted,Discount Date,Discount Amount
0,Katrina,Costa,Professional,"Philip Khoury, DO",02-09-2024,SCOPES HEALTH INC.,04-23-2024,Initial Consultation,Initial Consultation,Law Office of Young and Nichols,"Michael Young, Esq.",Janet Spindle,1725,NaN,NaN,0.0,0.0,NaN,NaN,NaN
1,Denise,Norris,Professional,"Philip Khoury, DO",02-16-2024,SCOPES HEALTH INC.,02-21-2024,Initial Consultation,Initial Consultation,Drake Legal Group,Benjamin Drake,KIAH,1725,NaN,NaN,0.0,0.0,NaN,NaN,NaN
2,Katrina,Costa,Professional,"Philip Khoury, DO",02-24-2024,SCOPES HEALTH INC.,04-30-2024,Injection Procedure,CESI Injection Procedure,Law Office of Young and Nichols,"Michael Young, Esq.",Janet Spindle,6640,NaN,NaN,0.0,0.0,NaN,NaN,NaN
3,Katrina,Costa,Professional,"Philip Khoury, DO",03-15-2024,SCOPES HEALTH INC.,05-14-2024,Follow up,Follow Up Consultation,Law Office of Young and Nichols,"Michael Young, Esq.",Janet Spindle,975,NaN,NaN,0.0,0.0,NaN,NaN,NaN
4,Ismael,Patino,Professional,"Philip Khoury, DO",04-05-2024,SCOPES HEALTH INC.,04-10-2024,Initial Consultation,Initial Consultation,KAL Law,"Moises Aguilar, Esq.",Jose Duarte,1725,NaN,NaN,0.0,0.0,NaN,NaN,NaN

In [59]:
#we need to recalculate the settlement Accepted Amount column in OpenCases data frame
OpenCases['Settlement Accepted'] = OpenCases['Item Charge'] - OpenCases['Item Charge'] * OpenCases['Lien Reduction %'] / 100
OpenCases['Discount Amount'] = OpenCases['Item Charge'] * OpenCases['Lien Reduction %'] / 100
OpenCases.head()

,First Name,Last Name,Service Type,Physcian Name,Date of Service,Location Name,Date Billed,Service Provided,Full Service Description,Law Firm,Attorney,Case Rep,Item Charge,Pmt Date,Paid Amount,Collection %,Lien Reduction %,Settlement Accepted,Discount Date,Discount Amount
0,Katrina,Costa,Professional,"Philip Khoury, DO",02-09-2024,SCOPES HEALTH INC.,04-23-2024,Initial Consultation,Initial Consultation,Law Office of Young and Nichols,"Michael Young, Esq.",Janet Spindle,1725,NaN,NaN,0.0,0.0,1725.0,NaN,0.0
1,Denise,Norris,Professional,"Philip Khoury, DO",02-16-2024,SCOPES HEALTH INC.,02-21-2024,Initial Consultation,Initial Consultation,Drake Legal Group,Benjamin Drake,KIAH,1725,NaN,NaN,0.0,0.0,1725.0,NaN,0.0
2,Katrina,Costa,Professional,"Philip Khoury, DO",02-24-2024,SCOPES HEALTH INC.,04-30-2024,Injection Procedure,CESI Injection Procedure,Law Office of Young and Nichols,"Michael Young, Esq.",Janet Spindle,6640,NaN,NaN,0.0,0.0,6640.0,NaN,0.0
3,Katrina,Costa,Professional,"Philip Khoury, DO",03-15-2024,SCOPES HEALTH INC.,05-14-2024,Follow up,Follow Up Consultation,Law Office of Young and Nichols,"Michael Young, Esq.",Janet Spindle,975,NaN,NaN,0.0,0.0,975.0,NaN,0.0
4,Ismael,Patino,Professional,"Philip Khoury, DO",04-05-2024,SCOPES HEALTH INC.,04-10-2024,Initial Consultation,Initial Consultation,KAL Law,"Moises Aguilar, Esq.",Jose Duarte,1725,NaN,NaN,0.0,0.0,1725.0,NaN,0.0

In [60]:
OpenCases['Pmt Date'] = OpenCases['Pmt Date'].fillna(pd.NaT)
OpenCases['Discount Date'] = OpenCases['Discount Date'].fillna(pd.NaT)
OpenCases.head()

,First Name,Last Name,Service Type,Physcian Name,Date of Service,Location Name,Date Billed,Service Provided,Full Service Description,Law Firm,Attorney,Case Rep,Item Charge,Pmt Date,Paid Amount,Collection %,Lien Reduction %,Settlement Accepted,Discount Date,Discount Amount
0,Katrina,Costa,Professional,"Philip Khoury, DO",02-09-2024,SCOPES HEALTH INC.,04-23-2024,Initial Consultation,Initial Consultation,Law Office of Young and Nichols,"Michael Young, Esq.",Janet Spindle,1725,NaT,NaN,0.0,0.0,1725.0,NaT,0.0
1,Denise,Norris,Professional,"Philip Khoury, DO",02-16-2024,SCOPES HEALTH INC.,02-21-2024,Initial Consultation,Initial Consultation,Drake Legal Group,Benjamin Drake,KIAH,1725,NaT,NaN,0.0,0.0,1725.0,NaT,0.0
2,Katrina,Costa,Professional,"Philip Khoury, DO",02-24-2024,SCOPES HEALTH INC.,04-30-2024,Injection Procedure,CESI Injection Procedure,Law Office of Young and Nichols,"Michael Young, Esq.",Janet Spindle,6640,NaT,NaN,0.0,0.0,6640.0,NaT,0.0
3,Katrina,Costa,Professional,"Philip Khoury, DO",03-15-2024,SCOPES HEALTH INC.,05-14-2024,Follow up,Follow Up Consultation,Law Office of Young and Nichols,"Michael Young, Esq.",Janet Spindle,975,NaT,NaN,0.0,0.0,975.0,NaT,0.0
4,Ismael,Patino,Professional,"Philip Khoury, DO",04-05-2024,SCOPES HEALTH INC.,04-10-2024,Initial Consultation,Initial Consultation,KAL Law,"Moises Aguilar, Esq.",Jose Duarte,1725,NaT,NaN,0.0,0.0,1725.0,NaT,0.0

In [61]:
OpenCases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 427 entries, 0 to 426
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   First Name                427 non-null    object
 1   Last Name                 427 non-null    object
 2   Service Type              427 non-null    object
 3   Physcian Name             427 non-null    object
 4   Date of Service           427 non-null    object
 5   Location Name             427 non-null    object
 6   Date Billed               427 non-null    object
 7   Service Provided          427 non-null    object
 8   Full Service Description  427 non-null    object
 9   Law Firm                  427 non-null    object
 10  Attorney                  427 non-null    object
 11  Case Rep                  416 non-null    object
 12  Item Charge               427 non-null    int64
 13  Pmt Date                  0 non-null      object
 14  Paid Amount               0 non-null      float64
 15  Collection %              367 non-null    float64
 16  Lien Reduction %          367 non-null    float64
 17  Settlement Accepted       367 non-null    float64
 18  Discount Date             21 non-null     object
 19  Discount Amount           367 non-null    float64
dtypes: float64(5), int64(1), object(14)
memory usage: 66.8+ KB

# Paid Cases

In [62]:
# makre a data frame from  Transactions - Paid Case Report.csv
PaidCases = pd.read_csv('../DataBase/Transactions - Paid Case Report.csv')
PaidCases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   First Name                46 non-null     object
 1   Last Name                 46 non-null     object
 2   Service Type              46 non-null     object
 3   Physcian Name             46 non-null     object
 4   Date of Service           46 non-null     object
 5   Date Billed               46 non-null     object
 6   Service Provided          46 non-null     object
 7   Full Service Description  46 non-null     object
 8   Charge Amount             46 non-null     int64
 9   Settlement Accepted       46 non-null     float64
 10  Settlement %              46 non-null     object
 11  Paid Amount               46 non-null     float64
 12  Pmt Date                  46 non-null     object
 13  Law Firm                  46 non-null     object
 14  Attorney                  46 non-null     object
 15  Case Rep                  46 non-null     object
dtypes: float64(2), int64(1), object(13)
memory usage: 5.9+ KB

In [63]:
def clean_percentage(value):
    # Remove $, commas, %, then convert to float
    try:
        return float(value.replace("$", "").replace(",", "").replace("%", "").strip()) * 100
    except:
        return None  # handles blanks or bad values safely

# Apply function
PaidCases['Settlement %'] = PaidCases['Settlement %'].apply(clean_percentage)

PaidCases.head()

,First Name,Last Name,Service Type,Physcian Name,Date of Service,Date Billed,Service Provided,Full Service Description,Charge Amount,Settlement Accepted,Settlement %,Paid Amount,Pmt Date,Law Firm,Attorney,Case Rep
0,Sharaf,Ali,Professional,"Philip Khoury, DO",04/12/2024,04/18/2024,Initial Consultation,Initial Consultation,1725,1100.00,64.0,1100.00,08/06/2024,Law Office of Young and Nichols,"Michael Young, Esq.",Janet Spindle
1,Mayra,Angeles Rodriguez,Professional,"Philip Khoury, DO",06/21/2024,07/01/2024,Initial Consultation,Initial Consultation,1725,1000.00,58.0,1000.00,04/12/2025,California Personal Injury Attorneys,"Sean Bina, Esq.",Jennifer Garcia
2,Melaynie,Armas,Professional,"Philip Khoury, DO",03/29/2024,04/09/2024,Initial Consultation,Initial Consultation,1725,500.00,29.0,500.00,07/30/2025,"Chain, Cohn, Clark","Doug Fitz-Simmons, Esq.",Grace Jimenez
3,Ernesto,Borja,Professional,"Philip Khoury, DO",11/22/2024,11/26/2024,Initial Consultation,Initial Consultation,1725,798.61,46.0,798.61,07/30/2025,Karns and Karns,"Edgar Vera, Esq.",Keith Hernandez
4,Ernesto,Borja,Professional,"Philip Khoury, DO",01/03/2025,01/09/2025,Follow up,Follow Up Consultation,975,451.39,46.0,451.39,07/30/2025,Karns and Karns,"Edgar Vera, Esq.",Keith Hernandez

In [64]:
PaidCases['Discount Amount'] = PaidCases['Charge Amount'] - PaidCases['Charge Amount'] * PaidCases['Settlement %'] / 100
PaidCases.head()

,First Name,Last Name,Service Type,Physcian Name,Date of Service,Date Billed,Service Provided,Full Service Description,Charge Amount,Settlement Accepted,Settlement %,Paid Amount,Pmt Date,Law Firm,Attorney,Case Rep,Discount Amount
0,Sharaf,Ali,Professional,"Philip Khoury, DO",04/12/2024,04/18/2024,Initial Consultation,Initial Consultation,1725,1100.00,64.0,1100.00,08/06/2024,Law Office of Young and Nichols,"Michael Young, Esq.",Janet Spindle,621.00
1,Mayra,Angeles Rodriguez,Professional,"Philip Khoury, DO",06/21/2024,07/01/2024,Initial Consultation,Initial Consultation,1725,1000.00,58.0,1000.00,04/12/2025,California Personal Injury Attorneys,"Sean Bina, Esq.",Jennifer Garcia,724.50
2,Melaynie,Armas,Professional,"Philip Khoury, DO",03/29/2024,04/09/2024,Initial Consultation,Initial Consultation,1725,500.00,29.0,500.00,07/30/2025,"Chain, Cohn, Clark","Doug Fitz-Simmons, Esq.",Grace Jimenez,1224.75
3,Ernesto,Borja,Professional,"Philip Khoury, DO",11/22/2024,11/26/2024,Initial Consultation,Initial Consultation,1725,798.61,46.0,798.61,07/30/2025,Karns and Karns,"Edgar Vera, Esq.",Keith Hernandez,931.50
4,Ernesto,Borja,Professional,"Philip Khoury, DO",01/03/2025,01/09/2025,Follow up,Follow Up Consultation,975,451.39,46.0,451.39,07/30/2025,Karns and Karns,"Edgar Vera, Esq.",Keith Hernandez,526.50

In [65]:
PaidCases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   First Name                46 non-null     object
 1   Last Name                 46 non-null     object
 2   Service Type              46 non-null     object
 3   Physcian Name             46 non-null     object
 4   Date of Service           46 non-null     object
 5   Date Billed               46 non-null     object
 6   Service Provided          46 non-null     object
 7   Full Service Description  46 non-null     object
 8   Charge Amount             46 non-null     int64
 9   Settlement Accepted       46 non-null     float64
 10  Settlement %              46 non-null     float64
 11  Paid Amount               46 non-null     float64
 12  Pmt Date                  46 non-null     object
 13  Law Firm                  46 non-null     object
 14  Attorney                  46 non-null     object
 15  Case Rep                  46 non-null     object
 16  Discount Amount           46 non-null     float64
dtypes: float64(4), int64(1), object(12)
memory usage: 6.2+ KB

In [66]:
# make date of service, date billed and Pmt Date columns datetime type and if empty put NaT
date_columns = ['Date of Service', 'Date Billed', 'Pmt Date']
for col in date_columns:
    PaidCases[col] = pd.to_datetime(PaidCases[col], errors='coerce').dt.strftime("%m-%d-%Y")
PaidCases.head()

,First Name,Last Name,Service Type,Physcian Name,Date of Service,Date Billed,Service Provided,Full Service Description,Charge Amount,Settlement Accepted,Settlement %,Paid Amount,Pmt Date,Law Firm,Attorney,Case Rep,Discount Amount
0,Sharaf,Ali,Professional,"Philip Khoury, DO",04-12-2024,04-18-2024,Initial Consultation,Initial Consultation,1725,1100.00,64.0,1100.00,08-06-2024,Law Office of Young and Nichols,"Michael Young, Esq.",Janet Spindle,621.00
1,Mayra,Angeles Rodriguez,Professional,"Philip Khoury, DO",06-21-2024,07-01-2024,Initial Consultation,Initial Consultation,1725,1000.00,58.0,1000.00,04-12-2025,California Personal Injury Attorneys,"Sean Bina, Esq.",Jennifer Garcia,724.50
2,Melaynie,Armas,Professional,"Philip Khoury, DO",03-29-2024,04-09-2024,Initial Consultation,Initial Consultation,1725,500.00,29.0,500.00,07-30-2025,"Chain, Cohn, Clark","Doug Fitz-Simmons, Esq.",Grace Jimenez,1224.75
3,Ernesto,Borja,Professional,"Philip Khoury, DO",11-22-2024,11-26-2024,Initial Consultation,Initial Consultation,1725,798.61,46.0,798.61,07-30-2025,Karns and Karns,"Edgar Vera, Esq.",Keith Hernandez,931.50
4,Ernesto,Borja,Professional,"Philip Khoury, DO",01-03-2025,01-09-2025,Follow up,Follow Up Consultation,975,451.39,46.0,451.39,07-30-2025,Karns and Karns,"Edgar Vera, Esq.",Keith Hernandez,526.50

In [67]:
PaidCases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   First Name                46 non-null     object
 1   Last Name                 46 non-null     object
 2   Service Type              46 non-null     object
 3   Physcian Name             46 non-null     object
 4   Date of Service           46 non-null     object
 5   Date Billed               46 non-null     object
 6   Service Provided          46 non-null     object
 7   Full Service Description  46 non-null     object
 8   Charge Amount             46 non-null     int64
 9   Settlement Accepted       46 non-null     float64
 10  Settlement %              46 non-null     float64
 11  Paid Amount               46 non-null     float64
 12  Pmt Date                  46 non-null     object
 13  Law Firm                  46 non-null     object
 14  Attorney                  46 non-null     object
 15  Case Rep                  46 non-null     object
 16  Discount Amount           46 non-null     float64
dtypes: float64(4), int64(1), object(12)
memory usage: 6.2+ KB

# Settled Cases

In [68]:
# make a data frame from  Transactions - Settled Case Report.csv
SettledCases = pd.read_csv("../DataBase/Transactions - Settled Case Report.csv")
SettledCases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   First Name                24 non-null     object
 1   Last Name                 24 non-null     object
 2   Service Type              24 non-null     object
 3   Physcian Name             24 non-null     object
 4   Date of Service           24 non-null     object
 5   Date Billed               24 non-null     object
 6   Full Service Description  24 non-null     object
 7   Charge Amount             24 non-null     int64
 8   Settlement Accepted       24 non-null     float64
 9   Settlement Date           24 non-null     object
 10  Law Firm                  24 non-null     object
 11  Attorney                  24 non-null     object
 12  Case Rep                  24 non-null     object
dtypes: float64(1), int64(1), object(11)
memory usage: 2.6+ KB

In [69]:
# make date of service, date billed columns datetime type and if empty put NaT
date_columns = ['Date of Service', 'Date Billed']
for col in date_columns:
    SettledCases[col] = pd.to_datetime(SettledCases[col], errors='coerce').dt.strftime("%m-%d-%Y")
SettledCases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   First Name                24 non-null     object
 1   Last Name                 24 non-null     object
 2   Service Type              24 non-null     object
 3   Physcian Name             24 non-null     object
 4   Date of Service           24 non-null     object
 5   Date Billed               24 non-null     object
 6   Full Service Description  24 non-null     object
 7   Charge Amount             24 non-null     int64
 8   Settlement Accepted       24 non-null     float64
 9   Settlement Date           24 non-null     object
 10  Law Firm                  24 non-null     object
 11  Attorney                  24 non-null     object
 12  Case Rep                  24 non-null     object
dtypes: float64(1), int64(1), object(11)
memory usage: 2.6+ KB

In [70]:
SettledCases.head()

,First Name,Last Name,Service Type,Physcian Name,Date of Service,Date Billed,Full Service Description,Charge Amount,Settlement Accepted,Settlement Date,Law Firm,Attorney,Case Rep
0,Arianna,Tirado-Sauceda,Professional,"Philip Khoury, DO",11-01-2024,11-06-2024,Initial Consultation,1725,950.00,08/05/2025,The Law Office of Arash Khorsandi,"Brian Beecher, Esq",KAIRY DE LA CRUZ
1,Jose,Medina,Professional,"Philip Khoury, DO",11-01-2024,11-06-2024,Initial Consultation,1725,750.00,07/28/2025,Anchor Law Corporation,"Helen Lim, Esq.",Helen Lim
2,Marcelino,Martinez,Professional,"Philip Khoury, DO",11-22-2024,11-27-2024,Initial Consultation,1725,810.00,03/27/2025,Karns and Karns,"Edgar Vera, Esq.",Keith Hernandez
3,Marcelino,Martinez,Professional,"Philip Khoury, DO",01-03-2025,01-08-2025,Follow Up Consultation,975,410.00,03/27/2025,Karns and Karns,"Edgar Vera, Esq.",Keith Hernandez
4,Michelle,Taylor,Professional,"Philip Khoury, DO",03-28-2025,03-31-2025,Initial Consultation,1725,463.61,08/20/2025,Anchor Law Corporation,"Helen Lim, Esq.",Helen Lim

In [71]:
# make a new column "Case Status" in AllCases, OpenCases, PaidCases, SettledCases data frames and fill it with "All", "Open", "Paid", "Settled" respectively
AllCases['Case Status'] = 'All'
OpenCases['Case Status'] = 'Open'
PaidCases['Case Status'] = 'Paid'
SettledCases['Case Status'] = 'Settled'

In [72]:
AllCases.head()

,First Name,Last Name,Service Type,Location Name,Physcian Name,Date of Service,Date Billed,Full Service Description,Law Firm,Attorney,Case Rep,Item Charge,Pmt Date,Paid Amount,Collection %,Lien Reduction %,Discount Date,Discount Amount,Case Status
0,Sharaf,Ali,Professional,SCOPES HEALTH INC.,"Philip Khoury, DO",04-12-2024,04-18-2024,Initial Consultation,Law Office of Young and Nichols,"Michael Young, Esq.",Janet Spindle,1725,08-06-2024,1100.00,63.77,35.94,08-06-2024,620.00,All
1,Melaynie,Armas,Professional,SCOPES HEALTH INC.,"Philip Khoury, DO",03-29-2024,04-09-2024,Initial Consultation,"Chain, Cohn, Clark","Doug Fitz-Simmons, Esq.",Grace Jimenez,1725,07-30-2025,500.00,28.99,71.01,04-29-2025,1225.00,All
2,Ignacio,Diaz,Professional,SCOPES HEALTH INC.,"Philip Khoury, DO",06-21-2024,06-27-2024,Initial Consultation,"Sweet Lawyers, LLP","Mark Sweet, Esq.",Elsie Gonzalez,1725,06-30-2025,750.00,43.48,56.52,NaT,975.00,All
3,Mitra,Atabaki,Professional,SCOPES HEALTH INC.,"Philip Khoury, DO",07-26-2024,07-31-2024,Initial Consultation,California Personal Injury Attorneys,"Sean Bina, Esq.",Jennifer Garcia,1725,NaT,0.00,0.00,0.00,NaT,0.00,All
4,Ernesto,Borja,Professional,SCOPES HEALTH INC.,"Philip Khoury, DO",11-22-2024,11-26-2024,Initial Consultation,Karns and Karns,"Edgar Vera, Esq.",Keith Hernandez,1725,07-30-2025,798.61,46.30,53.70,03-11-2025,926.39,All

In [73]:
OpenCases.head()

,First Name,Last Name,Service Type,Physcian Name,Date of Service,Location Name,Date Billed,Service Provided,Full Service Description,Law Firm,...,Case Rep,Item Charge,Pmt Date,Paid Amount,Collection %,Lien Reduction %,Settlement Accepted,Discount Date,Discount Amount,Case Status
0,Katrina,Costa,Professional,"Philip Khoury, DO",02-09-2024,SCOPES HEALTH INC.,04-23-2024,Initial Consultation,Initial Consultation,Law Office of Young and Nichols,...,Janet Spindle,1725,NaT,NaN,0.0,0.0,1725.0,NaT,0.0,Open
1,Denise,Norris,Professional,"Philip Khoury, DO",02-16-2024,SCOPES HEALTH INC.,02-21-2024,Initial Consultation,Initial Consultation,Drake Legal Group,...,KIAH,1725,NaT,NaN,0.0,0.0,1725.0,NaT,0.0,Open
2,Katrina,Costa,Professional,"Philip Khoury, DO",02-24-2024,SCOPES HEALTH INC.,04-30-2024,Injection Procedure,CESI Injection Procedure,Law Office of Young and Nichols,...,Janet Spindle,6640,NaT,NaN,0.0,0.0,6640.0,NaT,0.0,Open
3,Katrina,Costa,Professional,"Philip Khoury, DO",03-15-2024,SCOPES HEALTH INC.,05-14-2024,Follow up,Follow Up Consultation,Law Office of Young and Nichols,...,Janet Spindle,975,NaT,NaN,0.0,0.0,975.0,NaT,0.0,Open
4,Ismael,Patino,Professional,"Philip Khoury, DO",04-05-2024,SCOPES HEALTH INC.,04-10-2024,Initial Consultation,Initial Consultation,KAL Law,...,Jose Duarte,1725,NaT,NaN,0.0,0.0,1725.0,NaT,0.0,Open

In [74]:
PaidCases.head()

,First Name,Last Name,Service Type,Physcian Name,Date of Service,Date Billed,Service Provided,Full Service Description,Charge Amount,Settlement Accepted,Settlement %,Paid Amount,Pmt Date,Law Firm,Attorney,Case Rep,Discount Amount,Case Status
0,Sharaf,Ali,Professional,"Philip Khoury, DO",04-12-2024,04-18-2024,Initial Consultation,Initial Consultation,1725,1100.00,64.0,1100.00,08-06-2024,Law Office of Young and Nichols,"Michael Young, Esq.",Janet Spindle,621.00,Paid
1,Mayra,Angeles Rodriguez,Professional,"Philip Khoury, DO",06-21-2024,07-01-2024,Initial Consultation,Initial Consultation,1725,1000.00,58.0,1000.00,04-12-2025,California Personal Injury Attorneys,"Sean Bina, Esq.",Jennifer Garcia,724.50,Paid
2,Melaynie,Armas,Professional,"Philip Khoury, DO",03-29-2024,04-09-2024,Initial Consultation,Initial Consultation,1725,500.00,29.0,500.00,07-30-2025,"Chain, Cohn, Clark","Doug Fitz-Simmons, Esq.",Grace Jimenez,1224.75,Paid
3,Ernesto,Borja,Professional,"Philip Khoury, DO",11-22-2024,11-26-2024,Initial Consultation,Initial Consultation,1725,798.61,46.0,798.61,07-30-2025,Karns and Karns,"Edgar Vera, Esq.",Keith Hernandez,931.50,Paid
4,Ernesto,Borja,Professional,"Philip Khoury, DO",01-03-2025,01-09-2025,Follow up,Follow Up Consultation,975,451.39,46.0,451.39,07-30-2025,Karns and Karns,"Edgar Vera, Esq.",Keith Hernandez,526.50,Paid

In [75]:
SettledCases.head()

,First Name,Last Name,Service Type,Physcian Name,Date of Service,Date Billed,Full Service Description,Charge Amount,Settlement Accepted,Settlement Date,Law Firm,Attorney,Case Rep,Case Status
0,Arianna,Tirado-Sauceda,Professional,"Philip Khoury, DO",11-01-2024,11-06-2024,Initial Consultation,1725,950.00,08/05/2025,The Law Office of Arash Khorsandi,"Brian Beecher, Esq",KAIRY DE LA CRUZ,Settled
1,Jose,Medina,Professional,"Philip Khoury, DO",11-01-2024,11-06-2024,Initial Consultation,1725,750.00,07/28/2025,Anchor Law Corporation,"Helen Lim, Esq.",Helen Lim,Settled
2,Marcelino,Martinez,Professional,"Philip Khoury, DO",11-22-2024,11-27-2024,Initial Consultation,1725,810.00,03/27/2025,Karns and Karns,"Edgar Vera, Esq.",Keith Hernandez,Settled
3,Marcelino,Martinez,Professional,"Philip Khoury, DO",01-03-2025,01-08-2025,Follow Up Consultation,975,410.00,03/27/2025,Karns and Karns,"Edgar Vera, Esq.",Keith Hernandez,Settled
4,Michelle,Taylor,Professional,"Philip Khoury, DO",03-28-2025,03-31-2025,Initial Consultation,1725,463.61,08/20/2025,Anchor Law Corporation,"Helen Lim, Esq.",Helen Lim,Settled

In [76]:
# i want .info() of OpenCases, PaidCases, SettledCases data frames
print("OpenCases info:")
OpenCases.info()
print("PaidCases info:")
PaidCases.info()
print("SettledCases info:")
SettledCases.info()

OpenCases info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 427 entries, 0 to 426
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   First Name                427 non-null    object
 1   Last Name                 427 non-null    object
 2   Service Type              427 non-null    object
 3   Physcian Name             427 non-null    object
 4   Date of Service           427 non-null    object
 5   Location Name             427 non-null    object
 6   Date Billed               427 non-null    object
 7   Service Provided          427 non-null    object
 8   Full Service Description  427 non-null    object
 9   Law Firm                  427 non-null    object
 10  Attorney                  427 non-null    object
 11  Case Rep                  416 non-null    object
 12  Item Charge               427 non-null    int64
 13  Pmt Date                  0 non-null      object
 14  Paid Amount               0 non-null      float64
 15  Collection %              367 non-null    float64
 16  Lien Reduction %          367 non-null    float64
 17  Settlement Accepted       367 non-null    float64
 18  Discount Date             21 non-null     object
 19  Discount Amount           367 non-null    float64
 20  Case Status               427 non-null    object
dtypes: float64(5), int64(1), object(15)
memory usage: 70.2+ KB
PaidCases info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   First Name                46 non-null     object
 1   Last Name                 46 non-null     object
 2   Service Type              46 non-null     object
 3   Physcian Name             46 non-null     object
 4   Date of Service           46 non-null     object
 5   Date Billed               46 non-null     object
 6   Service Provided          46 non-null     object
 7   Full Service Description  46 non-null     object
 8   Charge Amount             46 non-null     int64
 9   Settlement Accepted       46 non-null     float64
 10  Settlement %              46 non-null     float64
 11  Paid Amount               46 non-null     float64
 12  Pmt Date                  46 non-null     object
 13  Law Firm                  46 non-null     object
 14  Attorney                  46 non-null     object
 15  Case Rep                  46 non-null     object
 16  Discount Amount           46 non-null     float64
 17  Case Status               46 non-null     object
dtypes: float64(4), int64(1), object(13)
memory usage: 6.6+ KB
SettledCases info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   First Name                24 non-null     object
 1   Last Name                 24 non-null     object
 2   Service Type              24 non-null     object
 3   Physcian Name             24 non-null     object
 4   Date of Service           24 non-null     object
 5   Date Billed               24 non-null     object
 6   Full Service Description  24 non-null     object
 7   Charge Amount             24 non-null     int64
 8   Settlement Accepted       24 non-null     float64
 9   Settlement Date           24 non-null     object
 10  Law Firm                  24 non-null     object
 11  Attorney                  24 non-null     object
 12  Case Rep                  24 non-null     object
 13  Case Status               24 non-null     object
dtypes: float64(1), int64(1), object(12)
memory usage: 2.8+ KB

In [77]:
#stack OpenCases, PaidCases, SettledCases data frames on top of each other
CombinedCases = pd.concat([OpenCases, PaidCases, SettledCases], ignore_index=True)
print("CombinedCases info:")
CombinedCases.info()

CombinedCases info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   First Name                497 non-null    object
 1   Last Name                 497 non-null    object
 2   Service Type              497 non-null    object
 3   Physcian Name             497 non-null    object
 4   Date of Service           497 non-null    object
 5   Location Name             427 non-null    object
 6   Date Billed               497 non-null    object
 7   Service Provided          473 non-null    object
 8   Full Service Description  497 non-null    object
 9   Law Firm                  497 non-null    object
 10  Attorney                  497 non-null    object
 11  Case Rep                  486 non-null    object
 12  Item Charge               427 non-null    float64
 13  Pmt Date                  46 non-null     object
 14  Paid Amount               46 non-null     float64
 15  Collection %              367 non-null    float64
 16  Lien Reduction %          367 non-null    float64
 17  Settlement Accepted       437 non-null    float64
 18  Discount Date             21 non-null     object
 19  Discount Amount           413 non-null    float64
 20  Case Status               497 non-null    object
 21  Charge Amount             70 non-null     float64
 22  Settlement %              46 non-null     float64
 23  Settlement Date           24 non-null     object
dtypes: float64(8), object(16)
memory usage: 93.3+ KB

In [78]:
print(OpenCases['Location Name'].unique())

['SCOPES HEALTH INC.' 'UNIVERSITY SURGICAL INSTITUTE, LLC'
 'ANESTHESIOLOGY & PERIOPERATIVE MEDICINE SPECIALISTS']

In [79]:
print(AllCases['Service Type'].unique())

['Professional' 'Facility' 'Anesthesia']

In [80]:
#make a new column depeneds on a condition in CombinedCases data frame if Service Type is "Professional" then "SCOPES HEALTH INC." else if "Anesthesia" then "ANESTHESIOLOGY & PERIOPERATIVE MEDICINE SPECIALISTS" else if "Facility" then "UNIVERSITY SURGICAL INSTITUTE, LLC" and name it "ENTITY"
CombinedCases['Entity'] = CombinedCases['Service Type'].apply(lambda x: "SCOPES HEALTH INC." if x == "Professional" else "ANESTHESIOLOGY & PERIOPERATIVE MEDICINE SPECIALISTS" if x == "Anesthesia" else "UNIVERSITY SURGICAL INSTITUTE, LLC" if x == "Facility" else "")
CombinedCases.head()

,First Name,Last Name,Service Type,Physcian Name,Date of Service,Location Name,Date Billed,Service Provided,Full Service Description,Law Firm,...,Collection %,Lien Reduction %,Settlement Accepted,Discount Date,Discount Amount,Case Status,Charge Amount,Settlement %,Settlement Date,Entity
0,Katrina,Costa,Professional,"Philip Khoury, DO",02-09-2024,SCOPES HEALTH INC.,04-23-2024,Initial Consultation,Initial Consultation,Law Office of Young and Nichols,...,0.0,0.0,1725.0,NaT,0.0,Open,NaN,NaN,NaN,SCOPES HEALTH INC.
1,Denise,Norris,Professional,"Philip Khoury, DO",02-16-2024,SCOPES HEALTH INC.,02-21-2024,Initial Consultation,Initial Consultation,Drake Legal Group,...,0.0,0.0,1725.0,NaT,0.0,Open,NaN,NaN,NaN,SCOPES HEALTH INC.
2,Katrina,Costa,Professional,"Philip Khoury, DO",02-24-2024,SCOPES HEALTH INC.,04-30-2024,Injection Procedure,CESI Injection Procedure,Law Office of Young and Nichols,...,0.0,0.0,6640.0,NaT,0.0,Open,NaN,NaN,NaN,SCOPES HEALTH INC.
3,Katrina,Costa,Professional,"Philip Khoury, DO",03-15-2024,SCOPES HEALTH INC.,05-14-2024,Follow up,Follow Up Consultation,Law Office of Young and Nichols,...,0.0,0.0,975.0,NaT,0.0,Open,NaN,NaN,NaN,SCOPES HEALTH INC.
4,Ismael,Patino,Professional,"Philip Khoury, DO",04-05-2024,SCOPES HEALTH INC.,04-10-2024,Initial Consultation,Initial Consultation,KAL Law,...,0.0,0.0,1725.0,NaT,0.0,Open,NaN,NaN,NaN,SCOPES HEALTH INC.

In [81]:
#show me both columns "Service Type" and "ENTITY" unique values in CombinedCases data frame
CombinedCases[['Service Type', 'Entity']].drop_duplicates()

   Service Type                                             Entity
0  Professional                                 SCOPES HEALTH INC.
8      Facility                 UNIVERSITY SURGICAL INSTITUTE, LLC
9    Anesthesia  ANESTHESIOLOGY & PERIOPERATIVE MEDICINE SPECIA...

In [82]:
#check for anyduplicates in CombinedCases data frame and output the rows duplicated i want both rows
CombinedCases[CombinedCases.duplicated(keep=False)]

Empty DataFrame
Columns: [First Name, Last Name, Service Type, Physcian Name, Date of Service, Location Name, Date Billed, Service Provided, Full Service Description, Law Firm, Attorney, Case Rep, Item Charge, Pmt Date, Paid Amount, Collection %, Lien Reduction %, Settlement Accepted, Discount Date, Discount Amount, Case Status, Charge Amount, Settlement %, Settlement Date, Entity]
Index: []

[0 rows x 25 columns]

In [83]:
#drop duplicates in CombinedCases data frame and keep the first occurrence
CombinedCases = CombinedCases.drop_duplicates(keep='first')
CombinedCases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   First Name                497 non-null    object
 1   Last Name                 497 non-null    object
 2   Service Type              497 non-null    object
 3   Physcian Name             497 non-null    object
 4   Date of Service           497 non-null    object
 5   Location Name             427 non-null    object
 6   Date Billed               497 non-null    object
 7   Service Provided          473 non-null    object
 8   Full Service Description  497 non-null    object
 9   Law Firm                  497 non-null    object
 10  Attorney                  497 non-null    object
 11  Case Rep                  486 non-null    object
 12  Item Charge               427 non-null    float64
 13  Pmt Date                  46 non-null     object
 14  Paid Amount               46 non-null     float64
 15  Collection %              367 non-null    float64
 16  Lien Reduction %          367 non-null    float64
 17  Settlement Accepted       437 non-null    float64
 18  Discount Date             21 non-null     object
 19  Discount Amount           413 non-null    float64
 20  Case Status               497 non-null    object
 21  Charge Amount             70 non-null     float64
 22  Settlement %              46 non-null     float64
 23  Settlement Date           24 non-null     object
 24  Entity                    497 non-null    object
dtypes: float64(8), object(17)
memory usage: 97.2+ KB

In [84]:
# Save CombinedCases DataFrame to an Excel file in the "../DatBase/" directory
CombinedCases.to_excel("../DataBase/CombinedCasesFinal.xlsx", index=False)